<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/formularios.css}">
  <title>Agregar Venta</title>
</head>
<body>

<div class="container">
  <h2>Agregar Venta</h2>

  <form th:action="@{/guardarVentaUser}" method="post">

    <div>
      <label>Fecha:</label>
      <input type="date" name="fechaVenta" required>
    </div>

    <div>
      <label>Total:</label>
      <input type="number" step="0.01" name="total" required>
    </div>

    <!-- CLIENTE -->
    <div>
      <label>Cliente:</label>
      <select name="cliente.dpiCliente" required>
        <option value="">Seleccione Cliente</option>

        <option th:each="c : ${clientes}"
                th:value="${c.dpiCliente}"
                th:text="${c.nombreCliente}">
        </option>
      </select>
    </div>

    <!-- USUARIO -->
    <div>
      <label>Usuario:</label>
      <select name="usuario.codigoUsuario" required>
        <option value="">Seleccione Usuario</option>

        <option th:each="u : ${usuarios}"
                th:value="${u.codigoUsuario}"
                th:text="${u.username}">
        </option>
      </select>
    </div>

    <button type="submit">Guardar Venta</button>

  </form>
</div>

</body>
</html>