<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/base.css}">
</head>
<body>

    <aside class="sidebar">
        <div class="sidebar-header">
            <i class="fas fa-store"></i> Sistema Ventas
        </div>
        <nav>
            <ul>
                <li><a th:href="@{/home}"><i class="fas fa-chart-line"></i> Inicio</a></li>
                <li><a th:href="@{/ventas}"><i class="fas fa-shopping-cart"></i> Ventas</a></li>
                <li><a th:href="@{/productos}"><i class="fas fa-box"></i> Productos</a></li>
                <li><a class="active" th:href="@{/cliente}" ><i class="fas fa-users"></i> Clientes</a></li>
                <li><a th:href="@{/usuarios}"><i class="fas fa-user-shield"></i> Usuarios</a></li>
                <li><a th:href="@{/detalleventas}"><i class="fas fa-invoice"></i>Detalle Venta</a></li>
                <li><a th:href="@{/home/cerrar-sesion}"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>
            </ul>
        </nav>
    </aside>

    <div class="container">
        <div>
            <a th:href="@{/agregarCliente}" class="btn">Agregar Cliente</a>
        </div>

        <table>
            <thead>
                <tr>
                    <th>DPI</th>
                    <th>Nombre Completo</th>
                    <th>Dirección</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="c : ${clientes}">
                    <td th:text="${c.dpiCliente}"></td>
                    <td th:text="${c.nombreCliente + ' ' + c.apellidoCliente}"></td>
                    <td th:text="${c.direccionCliente}"></td>
                    <td th:text="${c.estadoCliente}"></td>
                    <td class="acciones">
                        <a th:href="@{'/cliente/editarcliente/' + ${c.dpiCliente}}" class="btn-editar"><i class="fi fi-rs-pencil"></i></a>
                        <a th:href="@{'/cliente/eliminar-cliente/' + ${c.dpiCliente}}" class="btn-eliminar"><i class="fi fi-rs-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>