<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/base.css}">
</head>
<body>

    <aside class="sidebar">
        <div class="sidebar-header">
            <i class="fas fa-store"></i> Sistema Ventas
        </div>
        <nav>
            <ul>
                <li><a th:href="@{/home}"><i class="fas fa-chart-line"></i> Inicio</a></li>
                <li><a th:href="@{/ventas}"><i class="fas fa-shopping-cart"></i> Ventas</a></li>
                <li><a th:href="@{/productos}"><i class="fas fa-box"></i> Productos</a></li>
                <li><a class="active" th:href="@{/cliente}" ><i class="fas fa-users"></i> Clientes</a></li>
                <li><a th:href="@{/usuarios}"><i class="fas fa-user-shield"></i> Usuarios</a></li>
                <li><a th:href="@{/detalleventa}"><i class="fas fa-invoice"></i>Detalle Venta</a></li>
                <li><a th:href="@{/home/cerrar-sesion}"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>
            </ul>
        </nav>
    </aside>

    <div class="container">
        <div>
            <a th:href="@{/agregarCliente}" class="btn">Agregar Cliente</a>
        </div>

        <table>
            <thead>
                <tr>
                    <th>DPI</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Dirección</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2145786230010</td>
                    <td>Luis</td>
                    <td>Morales</td>
                    <td>Zona 7, Cuidad Guatemala</td>
                    <td class="estado-activo">Activo</td>
                    <td class="acciones">
                        <a th:href="@{/editarCliente}" class="btn-editar"><i class="fi fi-rs-pencil"></i></a>
                        <a class="btn-eliminar"><i class="fi fi-rs-trash"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>7894561234870</td>
                    <td>Carlos</td>
                    <td>Villalobos</td>
                    <td>Trebol</td>
                    <td class="estado-inactivo">Inactivo</td>
                    <td class="acciones">
                        <a th:href="@{/editarCliente}" class="btn-editar"><i class="fi fi-rs-pencil"></i></a>
                        <a class="btn-eliminar"><i class="fi fi-rs-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>