<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Ventas</title>
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/base.css}">
</head>
<body>
    <aside class="sidebar">
        <div class="sidebar-header">
            <i class="fas fa-store"></i> Sistema Ventas
        </div>
        <nav>
            <ul>
                <li><a th:href="@{/homeUser}"><i class="fas fa-chart-line"></i> Inicio</a></li>
                <li><a th:href="@{/ventasUser}"><i class="fas fa-shopping-cart"></i> Ventas</a></li>
                <li><a th:href="@{/productosUser}"><i class="fas fa-box"></i> Productos</a></li>
                <li><a class="active" th:href="@{/detalleventasUser}"><i class="fas fa-invoice"></i>Detalle Venta</a></li>
                <li><a th:href="@{/home/cerrar-sesion}"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>
            </ul>
        </nav>
    </aside>

    <div class="container">
        <div>
            <a th:href="@{/agregarDetalleVentaUser}" class="btn">Agregar Detalle</a>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Codigo Detalle de venta</th>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>Sub Total</th>
                    <th>Producto</th>
                    <th>Codigo de Venta</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="dv : ${detalleventas}">
                    <td th:text="${dv.codigoDetalleVenta}"></td>
                    <td th:text="${dv.cantidad}"></td>
                    <td th:text="${dv.precioUnitario}"></td>
                    <td th:text="${dv.subtotal}"></td>
                    <td th:text="${dv.producto != null ? dv.producto.nombreProducto : 'Sin producto'}"></td>
                    <td th:text="${dv.venta != null ? dv.venta.codigoVenta : 'Sin venta'}"></td>
                    <td class="acciones">
                        <a th:href="@{/editarDetalleVentaUser/{id}(id=${dv.codigoDetalleVenta})}" class="btn-editar">
                            <i class="fi fi-rs-pencil"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>