<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="login-container">
        <h2>Register</h2>
        <form th:action="@{/registrar}" method="post">
            <div class="input-group">
                <input type="text"  name="username"  placeholder="usuario" required>
            </div>
            <div class="input-group">
                <input type="password"  name="password"  placeholder="contraseña" required>
            </div>
            <div class="input-group">
                <input type="email" name="email" placeholder="correo electrónico" required>
            </div>
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>